* {
	box-sizing: border-box;
}

body, html {
	min-height: 100vh;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

img {
	max-width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: rgb(245,245,245);
}

header {
	display: flex;
	border-bottom: 1px solid grey;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

main {
	flex-grow: 1;
	display: flex;
	grid-row: 2;
	justify-content: center;
	align-items: center;
	background-color: #162B32;
	transition: background-color 0.5s ease;
}

.logo {
	background-image: url(../imgs/iconfinder_Flake_snow_snowflake_winter_5367463.png);
	width: 40px;
	height: 40px;
	background-size: 100%;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 15px;
	text-decoration-color: white;
}

a {
	color: grey;
	text-decoration: none;
}

a:hover {
	color: black;
}

footer {
	display: grid;
	padding-top: 10px;
	grid-template-columns: 300px 300px;
	justify-content: center;
	grid-gap: 50px;
	border-top: 1px solid grey;
}

.credits {
	text-align: right;
}

.joke {
	cursor: pointer;
}

.joke h2:not(:first-child){
	display:none;
}

#default, #j1, #j2, #j3, #a1, #a2, #a3 {
	padding: 30px;
	color:white;
}

.images {
	size: 100%;
}